.wrapper_loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading_portal {
    width: 15rem;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
}